[
  {pooled_mongo,
    [
      {global_or_local, local},
      {pools,
        [
          {mongo_pool1,
            [
              {size, 10},
              {max_overflow, 20}
            ],
            [
              {host, "127.0.0.1"},
              {port, 27017},
              {database, <<"test">>},
              {connect_timeout, 500},
              {w_mode, safe},
              {r_mode, slave_ok}
            ]
          },
          {mongo_pool2,
            [
              {size, 10},
              {max_overflow, 20}
            ],
            [
              {host, "127.0.0.1"},
              {port, 27017},
              {database, <<"test">>},
              {connect_timeout, 500},
              {w_mode, safe},
              {r_mode, slave_ok}
            ]
          }
        ]
      }
    ]
  }
].
